bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
dnspython==2.4.2
idna==3.6
pyaes==1.6.1
pymongo==4.6.1
pyrogram==2.0.106
pySocks==1.7.1
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
schedule==1.2.1
soupsieve==2.5
tgCrypto==1.2.5
urllib3==2.1.0
motor
python-amazon-paapi
unshortenit
beautifulsoup4==4.12.3
requests==2.31.0
python_flipkart_scraper
